# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Environment files (Never commit secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing & Coverage
coverage/
*.lcov

# System Files
.DS_Store
*.pem

# IDE / Editor
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo
